*.iml
.gradle
/pdlc/local.properties
/pdlc/.idea/caches
/pdlc/.idea/libraries
/odlc/.idea/modules.xml
/pdlc/.idea/workspace.xml
/pdlc/.idea/navEditor.xml
/pdlc/.idea/assetWizardSettings.xml
.DS_Store
/pdlc/build
/pdlc/captures
/pdlc/.externalNativeBuild
